In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\91626\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\91626\anaconda3\lib\site-packages (from scikit-learn) (1.1.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\91626\anaconda3\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.5.0 in c:\users\91626\anaconda3\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\91626\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -cikit-learn (c:\users\91626\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\91626\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\91626\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\91626\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\91626\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\91626\anaconda3\lib\site-packages)

In [3]:
buyer = pd.read_csv(r"C:\Users\91626\OneDrive\Desktop\Assignments\Hypothesis Testing\BuyerRatio.csv")

In [4]:
buyer.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [6]:
buyer_table=buyer.iloc[:,1:6]
buyer_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [7]:
buyer_table.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [8]:
no_of_rows=len(buyer_table.iloc[0:2,0])
no_of_columns=len(buyer_table.iloc[0,0:4])
degree_of_f=(no_of_rows-1)*(no_of_columns-1)
print('Degree of Freedom=',degree_of_f)

Degree of Freedom= 3

In [14]:
import scipy.stats as stats

In [15]:
val=stats.chi2_contingency(buyer_table)

In [16]:
val

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [18]:
no_of_rows=len(buyer_table.iloc[0:2,0])
no_of_columns=len(buyer_table.iloc[0,0:4])
degree_of_f=(no_of_rows-1)*(no_of_columns-1)
print('Degree of Freedom=',degree_of_f)

Degree of Freedom= 3

In [19]:
Expected_value=val[3]
Expected_value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [20]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2/e for o,e in zip(buyer_table.values,Expected_value)])
chi_square_statestic=chi_square[0]+chi_square[1]
chi_square_statestic

1.5152956451130446

In [21]:
critical_value=chi2.ppf(0.95,3)
critical_value

7.814727903251179

In [22]:
if chi_square_statestic >= critical_value:
	print('Dependent (reject null values)')
else:
	print('Independent (fail to reject null values)')

Independent (fail to reject null values)

In [23]:
pvalue=1-chi2.cdf(chi_square_statestic,3)
pvalue

0.6787446296467897

In [25]:
#comparing p_value with alpha value 
if pvalue <= 0.05:
	print('Dependent (reject null values)')
else:
	print('Independent (fail to reject null values)')

Independent (fail to reject null values)

We fail to reject Null Hypothesis because of lack evidence. Therefore, there is no association or dependency between male-female buyers rations and are similar across regions.